.Upload{
  width:60rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  position: relative;
  margin-top: 5rem;
}

.title_input{
  margin-top: 0.75rem;
  height: 4rem;
  width: 43rem;
  margin-left: 1rem;
  font-size: 1.75rem;
  letter-spacing: 0.2rem;
  border: none;
  outline: none;
}
.img_input_label {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  margin-top: 2rem;
  margin-left: 41.5rem;
}
.img_input_label .img_input{
  position: absolute;
  top: 0;
  width: 2.5rem;
  opacity:0; 
  visibility: collapse;
  cursor: pointer;
}
.img_input_label .uploadImgIcon{
  width: 6rem;
    height: 6rem;
    position: absolute;
    top:-1.25rem;
    color: rgba(30, 159, 131, 0.75);
    right: 35rem;
}
.title_input_label{
  border-bottom: 1.5px solid rgba(145, 145, 145, 0.2);
  height: 5rem;
  width: 47rem;
}

.UploadContainer textarea{
  margin-left: 0.75rem;
  margin-top: 1.5rem;
  font-family: 'Orbit-Regular', sans-serif; 
  width: 42rem;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
   border: none;
  outline: none; 
  resize: none;
  border-radius: 0.25rem;
  background-color: rgba(30, 159, 131, 0.05);
}
.imageSection{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.uploadImgList{
  display: flex;
  flex-direction: row;
  height: 8rem;
  width: 30rem;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}
.ListMap_div{
  margin-left: 7rem;
  width: 23rem;
  height: 8rem;
  overflow-x: auto;
}
.setRefandVisible{
  height: 0rem;
  top:0;
  right:0;
  opacity: 0;
  visibility: hidden;
}
