.ListContainer{
  width: 60rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left:0rem;
  padding-top: 7rem;
  margin: auto;
}
.ListPaging{
  height: 5rem;
}